<!DOCTYPE html>
<html>
<head>
	<title>Photos</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>

		$(document).ready(function(){
				$("#GetPhotos").click(function(){ 

					var html2 = '';
					var username = $('#username').val();

					var url2 = 'https://api.500px.com/v1/photos?feature=user&&username='+ username +
					  '&&image_size=3&&consumer_key=REXioJRjptFYmYXb6vARjNiltlHks0Rbw2ZlwfXV';


					$.ajax({
					url : url2,
					method:'get',
					data: {},
					dataType : 'json',
					success : function(data){


						var photoslist = data.photos[0];
						//console.log(photoslist);
					

						$.each(data.photos,function(i,item){
							//console.log(item.thumbnail_photos[0].image_url);


							html2 += 
							'<div class="jumbotron top-space">'+
							'<div class="row">'+
							'<div class="col-sm-4">' +

								'<h3>Photo id:'+ item.id + '</h3>' + '<br>'+
								'<img src ='+ item.image_url +'>'+ '<hr>' + 
									
							'</div>';
							

								


							$('#resultDiv').html(html2);

								
						}); 
						

						}

				});

}); 
   
});
	
	</script>
</head>

<body>

<a href="/logout"><button><h2>Log Out</h2></button></a>

	<!--<h3><p><b>ID</b>: <%= user.id %></p></h3> -->


	<h2>Hello <%= user.displayName %> </h2>

 <input id="username" type="text" placeholder="Enter your user name"><br>
	<button type="button" id="GetPhotos">Click Here!</button>
	<br>
	<br>

	 <h2>Your photos are as follows:</h2>



<div id="resultDiv"></div>

</body>
</html>




				

